@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
:root {
    --gap1: 5px;
    --maxWidth: 1200px;
    --maxHeight: 400px;
    --padding1: 20px;
    --text: #1F0A1E;
    --background: #F1EAF0;
    --primary: #BC4BBE;
    --secondary: #DB9AB5;
    --accent: #CE7688;
    --dark: black;
}

p, a {
    color: var(--text);
}
.button {
    padding: 5px 7px;
    
}

header {
    background: var(--primary);
}
header .wrapper {
    flex-flow: row !important;
    justify-content: space-between;
}
nav {
    display: flex;
    gap: var(--gap1);
}
nav a {
    background: yellow;
    padding: 5px 7px;
}
nav a:hover {

}

main {
    background: yellow;
}
section, header .wrapper {
    max-width: var(--maxWidth);
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    padding: 10px 20px;
}
section:nth-of-type(1) {
    flex-flow: row;
}
section:nth-of-type(1) div:nth-of-type(1) {
    display: flex;
    flex-flow: column;
    justify-content: center;
}
section:nth-of-type(1) div:nth-of-type(2) {
    text-align: center;
}
img {
    max-width: 350px;
    width: 100%;
    padding: 20px;
}


.w100 { width: 100%; }
.w75 { width: 75%; }
.w50 { width: 50%; }
.w33 { width: 33.333%; }
.w25 { width: 25%; }

@media (min-width: 769px) {
}

@media (min-width: 1025px) {
}

@media (min-width: 1201px) {
}





